@font-face{
    font-family: roboto-bold;
    src: url(Roboto-Bold.woff);
}
@font-face{
    font-family: roboto;
    src: url(Roboto-Regular.woff);
}
@font-face {
    font-family: roboto-light;
    src: url(Roboto-Thin.woff);
}
body{
  background-color: lightblue;
  font-family: roboto-light;
  padding:24px;
  
}
h1{
  font-size: 60px;
  padding: 2px;
  font-family:roboto-bold;
  
}
h3{
  padding: 2px;
  size: 18px;
  font-family: roboto;
}
.section{
  padding:72px;
}
.ps{
  color: darkblue;
}
a{
  color:black;
}
.import{
  font-size: 36px;
  font-weight:bold;
}
.padding{
    padding:24;
}
a{
    font-family: roboto;
}
li{
    font-family:roboto-bold;
    font-size: 24px;
}
#p-theme{
    background-color:purple;
    color:green;

}
