@font-face {
    font-family: roboto;
    src: url(Roboto-Thin.woff);
}
body{
  background-color: lightblue;
  font-family: roboto;
  padding:24px;
  
}
h1{
  font-size: 60px;
  padding: 2px;
  
}
h3{
  padding: 2px;
}
.section{
  padding:72px;
}
.ps{
  color: darkblue;
}
a{
  color:black;
}
.import{
  font-size: 36px;
  font-weight:bold;
}
.padding{
    padding:24;
}
